.App {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

.App h1 {
  font-family: "Oswald", sans-serif;
  font-weight: 200;
  letter-spacing: 1px;
}

.App #subtitle {
  font-family: "Caveat", cursive;
}

.App header,
.App footer {
  text-align: center;
}
