.App {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  max-width: 960px;
  margin: 0 auto;
}

.App #title {
  font-family: "Oswald", sans-serif;
  font-weight: 200;
  letter-spacing: 1px;
  color: #2c095d;
  margin-top: 16px;
}

.App #subtitle {
  font-family: "Caveat", cursive;
  color: #2c095d;
}

.App .brush-stroke {
  background: url(./brush-stroke.png);
  background-repeat: no-repeat;
  background-position: 55% 65%;
  background-size: 70% 120%;
}

/* .App .brush-stroke {
  background: url(./brush-stroke-2.png);
  background-repeat: no-repeat;
  background-position: 65% -20%;
  background-size: 70% 120%;
} */

.App header {
  text-align: center;
  min-height: 130px;
}

.App footer {
  text-align: center;
  font-size: 15px;
  margin: 20px 0 50px;
  color: #2c095d;
}

.App footer a {
  color: #c5a2f6;
}
